:root {
  --text: #e9f0fc;
  --background: #040c1a;
  --primary: #276add;
  --secondary: #050e1f;
  --accent: #2061cf;
}

/* Estilos para el modo oscuro */
body {
  background-color: var(--background) !important;
  color: var(--text);
}

a {
  color: var(--text) !important;
}

/* Estilos para los enlaces visitados */
a:visited {
  color: var(--secondary);
}

/* Estilos para los encabezados */
h1, h2, h3, h4, h5, h6, label {
  color: var(--text) !important;
}

/* Estilos para los botones */
button, input[type="submit"] {
  background-color: var(--primary);
  color: var(--text) !important;
}

/* Estilos para los inputs */
input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {
  background-color: var(--secondary);
  color: var(--text) !important;
  border-color: var(--accent);
}

/* Estilos para los placeholders de los inputs */
::-webkit-input-placeholder {
  color: #AAAAAA;
}

:-moz-placeholder {
  color: #AAAAAA;
}

::-moz-placeholder {
  color: #AAAAAA;
}

:-ms-input-placeholder {
  color: #AAAAAA;
}
